.u-fadein {
  animation: fadein 2s ease 0s 1 normal;
}

.u-fadeout {
  animation: fadeout 2s ease 0s 1 forwards;
}

.u-dialog-enter-active,
.u-dialog-leave-active {
  transition: opacity 0.5s;
}

.u-dialog-enter,
.u-dialog-leave-active {
  opacity: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
