.u-bg-primary {
  background-color: #0d6efd!important;
}

.u-bg-secondary {
  background-color: #6c757d!important;
}

.u-bg-success {
  background-color: #198754!important;
}

.u-bg-danger {
  background-color: #dc3545!important;
}

.u-bg-warning {
  background-color: #ffc107!important;
}

.u-bg-info {
  background-color: #0dcaf0!important;
}

.u-bg-light {
  background-color: #f8f9fa!important;
}

.u-bg-dark {
  background-color: #212529!important;
}

.u-bg-body {
  background-color: #fff!important;
}

.u-bg-white {
  background-color: #fff!important;
}

.u-bg-transparent {
  background-color: transparent!important;
}

